/* your code */
table {
  width: 100%;
  border-radius: px;
-moz-border-radius: 5px !important;
  border-collapse: collapse !important;
  border: none !important;
}
table, th, td {
/*  border: 1px solid black;  */
   border-collapse: collapse; 
}

th {
  height: 1px;
text-align: left;
	background-color:blue;
}
.td1 {
  text-align: left;
}
td{
	text-align: center;
	
}
.tr1{
	
	background-color:white;
}
.tr2{
	background-color:lightgray;
}
.tr3{
	background-color:white;
}
.tr4{
	background-color:lightgray;
}
